<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table >
    <thead>
        <tr>
            <th>Identificacion </th>
            <th>Nombre</th>
            <th>Estado Vanunas</th>
            <th>Ir a...</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10263548</td>
            <td>Luisa Valencia</td>
            <td>Cumple</td>
            <td><a href="#">Mostrar Vacunas</a></td>
        </tr>
        <tr>
            <td>10363699</td>
            <td>Oscar Gomez</td>
            <td>No Cumple</td>
            <td><a href="#">Mostrar Vacunas</a></td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
    </tbody>
    <tfoot>
        <td></td>
        <td>Total ingresados:</td>
        <td>2</td>
    </tfoot>
</table>
<hr>
<form action="cosulta vacunados" method="POST">
        <label for="identificacion">Identificación: </label>
        <input type="text" id="identificacion">
        <br>
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre">
        <br>
        <br>
        <button type="button"> Consultar</button></tr>
</form></form>
</iframe> 
</div>
</div>
<div>