<form action="">
    <h3>Registro</h3>
<label for="tipo_documento">Tipo de Documento</label>
<select name="tipo_documento">
   <option value="1">CC</option> 
   <option value="2">TI</option> 
   <option value="2">RC</option>
</select>
<br>
<br>
<label for="num_documento">Numero de Documento</label>
<input type="text" id="num_documento" name="num_documento" required
       minlength="7" maxlength="10" size="15">
<br>
<br>
<label for="nombre">Nombres</label>
<input type="text" id="nombre" name="nombre" required minlength="2" maxlength="40" size="20">

<br>
<br>
<label for="apellido">Apellidos</label>
<input type="text" id="apellido" name="apellido" required minlength="2" maxlength="40" size="20">

<br>
<br>
<label for="date">Fecha de Nacimiento:</label>

<input type="date" id="date" name="date"
       value="2018-07-22"
       min="1900-01-01" max="2021-12-31">

<br>
<br>

<label for="genero">Genero</label>
<select name="genero">
   <option value="1">Masculino</option> 
   <option value="2">Femenino</option> 
</select>

<br>
<br>

<label for="celular">Celular</label>
<input type="text" id="celular" name="celular" required
       minlength="10" maxlength="10" size="10">

<br>
<br>

<label for="correo">Correo</label>
<input type="email" id="correo" name="correo" required
       minlength="2" maxlength="60" size="25">

<br>
<br>

<label for="password">Contraseña</label>
<input type="password" id="password" name="password" required
       minlength="10" maxlength="10" size="10">

<br>
<br>
<input type="submit" value="Registrarme">
</form>