<nav>
    <div>
        <a href="../index.html" target="_parend">Pagina Principal</a>
        <br>
        <br>
        <a href="../pages/iniciarSesion.html"target="_parend">Iniciar Sesion</a>
        <br>
        <br>
        <a href="../pages/registrarse.html"target="_parend">Crear Cuenta</a>
        <br>
        <br>
        <a href="../pages/registrarVacunas.html"target="_parend">Registrar vacunas</a>
        <br>
        <br>
        <a href="../pages/modificarVacunas.html"target="_parend">Modificar vacunas</a>
        <br>
        <br>
        <a href="../pages/cerrarSesion.html"target="_parend">Cerrar Sesion</a>
    </div>
</nav>