<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <div class="row">
        <div class="col-7">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="../index.html" target="_parend"
                    role="tab" aria-controls="v-pills-home" aria-selected="true">Inicio</a>

                <a class="nav-link" id="v-pills-registrarse-tab" data-toggle="pill" href="../pages/registrarse.html"
                    target="_parend" role="tab" aria-controls="v-pills-registrarse" aria-selected="false">Registrarse</a>
               
                <a class="nav-link" id="v-pills-iniciarSesion-tab" data-toggle="pill" href="../pages/iniciarSesion.html"
                    target="_parend" role="tab" aria-controls="v-pills-iniciarSesion" aria-selected="false">Iniciar Sesion</a>
                
                <a class="nav-link" id="v-pills-registrarVacunas-tab" data-toggle="pill" href="../pages/registrarVacunas.html"
                    target="_parend" role="tab" aria-controls="v-pills-registrarVacunas" aria-selected="false">Registrar Vacunas</a>
               
               <a class="nav-link" id="v-pills-modificarVacunas-tab" data-toggle="pill" href="../pages/modificarVacunas.html"
                    target="_parend" role="tab" aria-controls="v-pills-modificarVacunas" aria-selected="false">Modificar Vacunas</a>
               
                <a class="nav-link" id="v-pills-mostrarVacunas-tab" data-toggle="pill" href="../pages/mostrarVacunas.html"
                    target="_parend" role="tab" aria-controls="v-pills-mostrarVacunas" aria-selected="false">Mostrar Vacunas</a>
                
                <a class="nav-link" id="v-pills-cerrarSesion-tab" data-toggle="pill" href="../pages/cerrarSesion.html"
                    target="_parend" role="tab" aria-controls="v-pills-cerrarSesion" aria-selected="false">Cerrar Sesion</a>
            </div>
        </div>
        <div class="col-7">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>

              <div class="tab-pane fade" id="v-pills-registrarse" role="tabpanel" aria-labelledby="v-pills-registrarse-tab">...</div>
             
              <div class="tab-pane fade" id="v-pills-iniciarSesion" role="tabpanel" aria-labelledby="v-pills-iniciarSesion-tab">...</div>
             
              <div class="tab-pane fade" id="v-pills-registrarVacunas" role="tabpanel" aria-labelledby="v-pills-registrarVacunas-tab">...</div>
 
              <div class="tab-pane fade" id="v-pills-modificarVacunas" role="tabpanel" aria-labelledby="v-pills-modificarVacunas-tab">...</div>
             
              <div class="tab-pane fade" id="v-pills-mostrarVacunas" role="tabpanel" aria-labelledby="v-pills-mostrarVacunas-tab">...</div>
             
              <div class="tab-pane fade" id="v-pills-cerrarSesion" role="tabpanel" aria-labelledby="v-pills-cerrarSesion-tab">...</div>
           
            </div>
          </div>

    </div>



